<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <!-- reset css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='reset.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- css style sheet has to be in /static folder because of flask/jinja2 -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css')}}">
</head>

<body>
  <div class = "container-fluid">
    <!-- Top banner -->
    <div class = 'row banner'>
        <div class="col-md-3">
        </div>
        <div class='col-md-6 text-center'>
            </br> </br>
            <h1 class="banner_txt"> Mission to Mars </h1>
            <!-- button that calls the /scrape path to web scrape -->
            <a href="/scrape" id="scrape_btn" class="btn btn-dark" role="button">Click to Web Scrape the Latest on Mars</a>
            </br> </br>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <!-- latest mars news: title and first two paragraphs-->
    <div id="first_text" class="row">
        <div class='col-md-1'>
        </div>
        <div class="col-md-10">
        </br> </br>
            <!-- Rendering HTML from app.py -->
            {% if Nasa_latest_title %} <!-- checking if this is empty as a test to see if mars_collection is empty. -->
                <h2>The Latest News From NASA:</h2>
                <hr>
                <h3>{{Nasa_latest_title}}</h3>
                <p> &emsp; {{Nasa_latest_paragraph1}}</p>
                <p> &emsp; {{Nasa_latest_paragraph2}}</p>
                </br>
            {% else %}
                <h2>Click the Web Scrape button above to get the latest in Mars news and facts</h2>
                </br>
            {% endif %}
        </div>
        <div class='col-md-1'>
        </div>
    </div>
    <hr>
    <!-- featured_image on the left, latest mars weather tweet on top left, mars facts table under it -->
    <div class='row'>
        <div class='col-md-8'>
            {% if (featured_image_url) and (feat_full_img) %}
                <figure class="main">
                    <figcaption class="main_caption">
                        <h2> The Latest Featured Image of Mars </h2>
                    <a target="_blank" href={{feat_full_img}}>
                        <img class="image" src={{featured_image_url}} alt="Featured image for NASA mars page">
                    </a>
                </figure>
            {% else %}
                </br>
            {% endif %}
        </div>
        <div class='col-md-4'>
            <div class="info_box">
                {% if mars_weather_tweet %}
                    <!-- latest weather tweet -->
                    <h3> Current Weather on Mars <hr> </h3>
                    <p> {{mars_weather_tweet}}</p>
                    <p> (source: Mars Weather Twitter Handle </br>
                        <a href="https://twitter.com/marswxreport?lang=en"> https://twitter.com/marswxreport?lang=en </a>)
                    </p>
                {% else %}
                {% endif %}
            </div>
            </br>  
            <!-- facts table -->
            <div class="info_box">
                {% if mars_facts_table %}
                    <h3>Fun facts about Mars!</h3>
                    <hr>
                    <!-- table rendered with flask, which uses jinja2. Already includes <table></table> -->
                    {{mars_facts_table|safe}}
                        <!-- note: the "|safe" means that this variable is a well-formed and trusted HTML. This excludes it from jinja2's
                        HTML auto-escaping. http://jinja.pocoo.org/docs/dev/templates/#html-escaping  -->
                    <hr>
                    <p> (source: http://space-facts.com/mars) </p>
                {% else %}
                </br>
                {% endif %}
            </div>
            
        </div>
    </div>
    </br> </br> 

    <!-- Mars hemisphere images section -->
    {% if hemis_1_title %} <!-- sample this var to check to see if there's anything in the hemisphere section -->
        <div class="row">
            <div class='col-md-12'>
                <h2 class="text-center"> Mars Hemispheres </h2> <!-- .text-center is from bootstrap 4.0.0 -->
            </div>
        </div>
    {% else %}
    </br>
    {% endif %}

    <hr>

    {% if (hemis_1_img) and (hemis_2_title) and (hemis_2_img) %}
        <div class="row">
            <div class='col-md-6'>
                <figure class="hemis_left">
                    <figcaption class="hemis_caption"> {{hemis_1_title}} </figcaption>
                    <a target="_blank" href={{hemis_1_img}}>
                        <img class="hemis_img" src={{hemis_1_img}} alt="Mars hemisphere 1">
                    </a>
                </figure>
            </div>
            <div class='col-md-6'>
                <figure class="hemis_right">
                    <figcaption class="hemis_caption"> {{hemis_2_title}} </figcaption>
                    <a target="_blank" href={{hemis_2_img}}>
                        <img class="hemis_img" src={{hemis_2_img}} alt="Mars hemisphere 2">
                    </a>
                </figure>
            </div>
        </div>
    {% else %}
        </br>
    {% endif %}

    {% if (hemis_3_title) and (hemis_3_img) and (hemis_4_title) and (hemis_4_img) %}
        <div class="row">
            <div class='col-md-6'>
                <figure class="hemis_left">
                    <figcaption class="hemis_caption"> {{hemis_3_title}} </figcaption>
                    <a target="_blank" href={{hemis_3_img}}>
                        <img class="hemis_img" src={{hemis_3_img}} alt="Mars hemisphere 3">
                    </a>
                </figure>
            </div>
            <div class='col-md-6'>
                <figure class="hemis_right">
                    <figcaption class="hemis_caption"> {{hemis_4_title}} </figcaption>
                    <a target="_blank" href={{hemis_4_img}}>
                        <img class="hemis_img" src={{hemis_4_img}} alt="Mars hemisphere 4">
                    </a>
                </figure>
            </div>
        </div>
    {% else %}
        </br>
    {% endif %}

  </div> <!-- ends container -->
  <hr>
  <p> &emsp; Created by Kevin Yao. Github repo 
      <a href=https://github.com/Kevinxy00/WebScraping_and_DocumentDatabases-MissionToMars>here</a>.
  </p>
</body>
</html>